<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Account</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/account.css') }}">
    </head>
    <body>
        <div class='container'>
            <form action='/account-created' method="post">
                <label>Enter Username:</label>
                <input type='text' name='username' placeholder='Username' Required><br>
                <label>Enter Password:</label>
                <input type='text' name='password' placeholder='Password' Required><br>
                <button type='submit'>Create</button>
            </form>
        </div>
    </body>
</html>