<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Account</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/create_account.css') }}">
    </head>
    <body>
        <div class='container'>
            <h2 class='header'>
                Create Account Page
            </h2>

            <form action='/create_account' method="post">
                <input type='text' name='username' placeholder='Username' Required><br>
                <input type='text' name='password' placeholder='Password' Required><br>
                <input type="submit" value="Create">
            </form>
        </div>
    </body>
</html>