<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/login.css') }}">
    </head>
    <body>
        <div class='container'>
            <h2 class='header'>
                Login Page
            </h2>

            <form action="/user-login" method="post">
                <input type='text' name='username' placeholder='Username' Required><br>
                <input type='text' name='password' placeholder='Password' Required><br>
                <input type="submit" value="Login">
            </form>

            <p class='login-error'>
                {{ credential }}
            </p>

            <p class='account-redirect'>
                <a href="{{ url_for('create_account') }}">Create Account</a>
            </p>
            
        </div>
    </body>
</html>