<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/my_account.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="menu">
            <p><a href="{{ url_for('playlist') }}" class="menu-item">Playlist</a></p>
            <p><a href="{{ url_for('search') }}" class="menu-item">Search</a></p>
            <p><a href="{{ url_for('my_account') }}" class="menu-item">Account</a></p>
        </div>
    </div>
    <div class='right-side'>
        <h1 class='header'>
            User Information
        </h1>
        <div class='user-info'>
            <p class='username'>
                Username: {{ username }}
            </p>
            <p class='password'>
                Password: {{ password }}
            </p>
        </div>
        <p class='logout'>
            <a href="{{ url_for('user_login') }}">Logout</a>
        </p>
    </div>
</body>
</html>