<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/playlist.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="menu">
            <p><a class="menu-item">Library</a></p>
            <p><a href="{{ url_for('playlist') }}" class="menu-item">Playlist</a></p>
            <p><a href="{{ url_for('search') }}" class="menu-item">Search</a></p>
            <p><a class="menu-item">Account</a></p>
        </div>
    </div>
    <div class="content">
        <div class="playlist-header">
            <div class="playlist-details">
                <h1>Playlist</h1>
            </div>
        </div>
        <div class="song-list">
            <div class="song">
                <div class="song-number">#</div>
                <div class="song-title">Song Title</div>
                <div class="song-album">Album</div>
            </div>
        </div>
    </div>
</body>
</html>
