<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/playlist.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="menu">
            <p><a href="{{ url_for('playlist') }}" class="menu-item">Playlist</a></p>
            <p><a href="{{ url_for('search') }}" class="menu-item">Search</a></p>
            <p><a href="{{ url_for('my_account') }}" class="menu-item">Account</a></p>
        </div>
    </div>
    <div class="right-side">
        <div class="playlist-header">
            <h1>Playlist</h1>
        </div>
        <form action="{{ url_for('playlist') }}" method="post">
            <input type="text" name="playlist_name" placeholder="Enter Playlist Name">
            <input type="submit" value="Create Playlist"></input>
        </form>
        <div class="playlists">
            <p class='playlist-items'>
                <select class='playlistDropdown' id="playlistDropdown">
                    <option selected disabled>Select Playlist</option>
                    {% for playlist_name in playlists %}
                        <option value="{{ playlist_name[0] }}">{{ playlist_name[0] }}</option>
                    {% endfor %}
                </select>
                <button class='songButton' onclick="showSelectedPlaylist()">Show Songs</button>
            </p>
            <div id="songsContainer"></div>
        </div>
    </div>

    <script>
        function showSelectedPlaylist() {
            var dropdown = document.getElementById("playlistDropdown");
            var selectedPlaylist = dropdown.options[dropdown.selectedIndex].value;

            //fetch and display songs for the selected playlist using AJAX
            fetch(`/get_songs/${selectedPlaylist}`)
                .then(response => response.json())
                .then(data => {
                    var songsContainer = document.getElementById("songsContainer");
                    songsContainer.innerHTML = `<h3>Songs in ${selectedPlaylist}</h3><ul>${data.songs.map(song => `<li>${song}</li>`).join('')}</ul>`;
                });
        }
    </script>
</body>
</html>
