<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/playlist.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="menu">
            <p><a href="{{ url_for('playlist') }}" class="menu-item">Playlist</a></p>
            <p><a href="{{ url_for('search') }}" class="menu-item">Search</a></p>
            <p><a href="{{ url_for('my_account') }}" class="menu-item">Account</a></p>
        </div>
    </div>
    <div class="content">
        <div class="playlist-header">
        <div class="playlist-details">
            <h1>Playlist</h1>
        </div>
    </div>
    <div class="playlist-list">
        {% if playlist %}
            <div class="playlist">
                <h2>{{ playlist[2] }}</h2> <!-- Displaying the playlist name -->
                <!-- More code here to display playlist songs if available -->
            </div>
        {% else %}
            <p>No playlists available.</p>
        {% endif %}
    </div>
    </div>
    <div class="create-playlist">
        <form action="{{ url_for('playlist') }}" method="post">
            <input type="text" name="playlist_name" placeholder="Enter Playlist Name" required>
            <button type="submit">Create Playlist</button>
        </form>
    </div>    
</body>
</html>