<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="menu">
            <p><a href="{{ url_for('playlist') }}" class="menu-item">Playlist</a></p>
            <p><a href="{{ url_for('search') }}" class="menu-item">Search</a></p>
            <p><a href="{{ url_for('my_account') }}" class="menu-item">Account</a></p>
        </div>
    </div>

    <div class="right-side">
        <div class="search-container">
            <form action="/search" method="post">
                <input type='text' name='song' placeholder='Song Name' Required><br>
                <input type='text' name='playlist' placeholder='Playlist' Required><br>
                <input type="submit" value="Add">
            </form>
            <p class='error'>
                {{ error }}
            </p>
        </div>
    
        <div class="song-list">
            <h1 class='header'>
                Songs List
            </h1>
            <p class='song-items'>
                {% for song, artist, genre in songs_list %}
                Song: {{ song }} <br>
                Artist: {{ artist }} <br>
                Genre: {{ genre }} <br><br>
                {% endfor %}
            </p>
        </div>
    </div>
</body>
</html>