.base {
    display: flex;
    flex-direction: row;
    background-color: green;
    height: 1000px;
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 100px;
    background-color: gray;
}

.main-section {
    
    flex: auto;
    background-color: blue;
}