body {
    background-color: #2c3e50;
    margin: 0px;
    padding: 0px;
}

.header {
    color: white;
    padding: 40px;
}

.container {
    border-radius: 5px;
    height: 1000vh;
    text-align: center;
}

/* Style inputs */
input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
/* Style the submit button */
input[type=submit] {
    width: 100px;
    background-color: white;
    color: black;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
}