body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #181818; 
    color: #fff; 
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    height: 1000vh;
    width: 200px;
}

.menu p {
    margin: 10px 0;
}

.menu-item {
    color: white; 
    text-decoration: none; 
    display: block; 
    margin: 10px 0; 
    cursor: pointer;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.menu-item:hover {
    background-color: #3e3e3e; 
    border-radius: 4px; 
}

.right-side {
    display: flex;
    flex-direction: column;
}

.header {
    color: #1DB954; 
    margin-left: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.username,
.password {
    font-size: 24px;
}

.logout {
    margin-top: 150px;
    margin-left: 50px;
    font-size: 18px;
}

.logout a {
    color: black;
}

.logout a:link, .logout a:visited {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

